
#red{
    color:red;
}

#blue{
    color:rgb(0, 102, 255);
}

#green{
    color:green;
}

#orange{
    color:orange;
}

#yellow{
    color:yellow;
}
.color-title{
    font-weight:normal
}
img{
    width: 200px;
    height: 200px;
}